.text_container{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 6em;
    text-align: justify;
    font-size: 1.3em;
}

.text_container h1{
    font-size: 2.3em;
    margin-bottom: 1em;
    font-weight: 200;
}

.text_container h1 span{
    color: rgb(119, 156, 45);
}

.text_container p{
    margin-bottom: 1.5em;
    font-weight: 230;
}