.homeSubTitle{
  font-size: 20px;
  font-weight: 700;
}

.homeTitle{
  font-size: 32px;
  font-weight: 400;
}

.layout-content{
  background-color: rgb(255, 255, 255);
  width: auto;
  height: 320px;
  background-color: #506635;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  text-align: center;
}

.layout-content h1{
  color: aliceblue;
  padding: 20px;
  font-size: 32px;
}


.div-noticias{

  
}
