.text_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    text-align: justify;
    font-size: 1.5em;
}

.text_container h1{
    font-size: 2.5em;
    margin-bottom: .5em;
}

.text_container h1 span{
    color: rgb(119, 156, 45);
    padding: 0 .2em;
}

.text_container p{
    margin-bottom: 1.5em;
}