@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.ant-menu-item-selected {
  background-color: #38283b !important;
}

.logo{
    margin-right: 15px;
    margin-left: -30px;
   
}
.sticky-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}



