@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  font-weight: 100;
  font-style: normal;
}
*{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.ant-menu-item-selected {
  background-color: #38283b !important;
}

.logo{
    margin-right: 15px;
    margin-left: -30px;
   
}
.sticky-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}



