@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  font-weight: 100;
  font-style: normal;
}

* {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.ant-menu-item-selected {
  background-color: #487049 !important;
  border-radius: 35px !important;
}

.sticky-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
